// Import your custom input theme file so you can call the custom-input-theme function
@import '../../../assets/styles/oresults-app-theme.scss';

md-nav-list.students {
    max-width: 70%;
}

span.student-id-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Table Styles adopted from Bootstrap */

table {
  border-collapse: collapse;
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  border-collapse: collapse !important;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table td {
  background-color: #fff;
  padding: 1rem 0.75rem;
  vertical-align: center;
  border-top: 1px solid #eceeef;
}

.table th {
  background-color: #fff;
  padding: 0.75rem;
  vertical-align: center;
  border-top: 1px solid #eceeef;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
  font-size: 1rem;
  font-style: italic;
}

.thead-default th {
  color: md-color($oresults-app-primary);
  background-color: #eceeef;
}
