// Import your custom input theme file so you can call the custom-input-theme function
@import '../../../assets/styles/oresults-app-theme.scss';
.result-table {
  display: table;
  width: 100%;
  text-align: center;
  border-collapse: collapse !important;
  &-row {
    display: table-row;
  }
  &-heading {
    display: table-header-group;
    color: md-color($oresults-app-primary);
    font-size: 1rem;
    font-style: italic;
  }
  &-cell {
    border-top: 1px solid #eee;
    display: table-cell;
    padding: 0.75rem 1rem;
    border-collapse: collapse !important;
  }
  &-head {
    font-size: 1rem;
    font-style: italic;
    border-top: 1px solid #eee;
    border-collapse: collapse !important;
    display: table-cell;
    padding: 0.75rem 1rem;
    background-color: #eceeef;
  }
  &-foot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
  }
  &-body {
    display: table-row-group;
  }
}

.status {
  width: 120px;
}
