// Import your custom input theme file so you can call the custom-input-theme function
@import '../../../assets/styles/oresults-app-theme.scss';

/* Table Styles adopted from Bootstrap */

table {
  border-collapse: collapse;
  background-color: transparent;
  table-layout: fixed;
}

th {
  text-align: center;
}

.table {
  border-collapse: collapse !important;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th {
  background-color: #fff;
  padding: 0.75rem 1rem;
  vertical-align: center;
  border-top: 1px solid #eceeef;
}

.table td {
  background-color: #fff;
  padding: 0 1rem;
  vertical-align: center;
}

.table td.manager-status {
  background-color: #fff;
  padding: 0 1rem;
  width: 120px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
  font-size: 1rem;
  font-style: italic;
}

.thead-default th {
  color: md-color($oresults-app-primary);
  background-color: #eceeef;
}

.card-prefix {
  color: md-color($oresults-app-primary);
}

// event manager styles
.completed {
  background-color: green;
}

.registered {
  background-color: grey;
}

.on-course {
  background-color: darkred;
}

.checked-in {
  background-color: darkblue;
}

.status {
  color: white;
  padding: 0.5rem;
  width: 110px;
  display: inline-block;
  text-align: center;
}

.result-list {
  display: table;
}
