/* You can add global styles to this file, and also import other style files */

// Import a pre-built theme
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';
// Import your custom input theme file so you can call the custom-input-theme function
@import './oresults-app-theme.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');

/* Variables */

$basic-font: 'Raleway',
sans-serif;
$heading-font: 'Raleway',
sans-serif;

/* General Styles */

body {
  font-family: $basic-font;
  font-size: 1.2em;
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font;
}

/* General Component Styles */

h1 {
  font-weight: 700;
  text-align: center;
}

h2 {
  text-align: center;
}

.component {
  font-weight: 700;
  text-align: center;
  margin: 1.5rem auto 1.5rem auto;
}

.section {
  color: md-color($oresults-app-primary);
  margin: 1.5rem auto 1.5rem auto;
  text-align: center;
}

h3 {
  font-size: 1rem;
  text-align: center;
}

div {
  // border: 1px solid green;
}

div.container {
  width: 100%;
  margin: 0 auto 1em auto;
}

div.component-container {
  font-size: 1rem;
  line-height: 2rem;
  margin: 1.5rem auto;
  max-width: 70%;
}

li {
  list-style: none;
  display: block;
  //   border: 1px solid blue;
}

button.submit {
  margin: 1.2rem 0;
}

/* Styles to help with layout */

.full-width {
  width: 100%;
}

.btn-right {
  text-align: right;
}

.btn-left {
  text-align: left;
}

.btn-center {
  text-align: center;
}

.active-checkbox {
  font-size: .9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.missing-data {
    font-size: .8rem;
    text-align: center;
}
