/* You can add global styles to this file, and also import other style files */

// Import a pre-built theme
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';
// Import your custom input theme file so you can call the custom-input-theme function
@import './oresults-app-theme.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');

/* Variables */

$basic-font: 'Raleway',
sans-serif;
$heading-font: 'Raleway',
sans-serif;

/* General Styles */

body {
  font-family: $basic-font;
  font-size: 1.2em;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}

// div {
//   border: 1px red solid;
// }
html {
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font;
}


/* Page layout */

div#app-container {
  width: 100%;
  margin: 0;
}

div#fx-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

div#fx-content-container {
  display: flex;
  // margin: 0 auto;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
}

div#button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  bottom: 0;
  position: absolute;
  right: 0;
  margin: 1rem;
  z-index: 1000;
}


/* Add event Form */

form#add-event {
  margin: 1rem;
}

form#add-student {
  margin: 1rem;
}


/* General Component Styles */

h1 {
  font-weight: 700;
  text-align: center;
}

h2 {
  text-align: center;
}

.component {
  font-weight: 700;
  text-align: center;
  margin: 1.5rem auto 1.5rem auto;
}

.component-content {
  padding: 1rem 0;
}

.section {
  color: md-color($oresults-app-primary);
  margin: 2rem auto 1rem auto;
  text-align: center;
}

h3 {
  font-size: 1rem;
  text-align: center;
}

li {
  list-style: none;
  display: block;
  //   border: 1px solid blue;
}

button.submit {
  margin: 1.2rem 0;
}

div.button {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  right: 0;
  text-align: right;
  margin: 1.5rem;
  height: 58px;
}


md-button {
  width: 100%;
  display: block;
  margin-left: 1em;
  color: darkred;
}

md-button a:hover {
  color: red;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}


/* Styles to help with layout */

.full-width {
  width: 100%;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.active-checkbox {
  font-size: .9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.missing-data {
  font-size: .8rem;
  text-align: center;
}

app-student-list {
  margin: auto;
}

div.md-tab-label-container {
  margin-top: 1rem;
}

.md-tab-list {
  justify-content: center;
}


/* Table Styles adopted from Bootstrap */

table {
  border-collapse: collapse;
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  border-collapse: collapse !important;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table td,
.table th {
  background-color: #fff;
  padding: 0.75rem;
  vertical-align: center;
  border-top: 1px solid #eceeef;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
  font-size: 1rem;
  font-style: italic;
}

.thead-default th {
  color: md-color($oresults-app-primary);
  background-color: #eceeef;
}
